@model IEnumerable<Services.Interfaces.Responses.RegisteredUser>

<div class="col-md-12">
    <table class="table col-md-8 table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nombre Completo</th>
                <th>Login</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="CuerpoDeLaTabla">
            @foreach (var user in Model)
            {
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    @user.CompleteName
                </td>
                <td>
                    @user.Login
                </td>
                <td>
                    @user.Email
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>